<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="festivalnauke.rni.napravisvojsajt.generator">
      <generator
            Name="festivalnauke.rni.generator.simple.generator1"
            generator="festivalnauke.rni.generator.simple.SimpleSiteGenerator">
      </generator>
   </extension>

</plugin>
