<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="festivalnauke.rni.napravisvojsajt.generator" name="Site Generator" schema="schema/festivalnauke.rni.napravisvojsajt.generator.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="festivalnauke.rni.napravisvojsajt.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="festivalnauke.rni.napravisvojsajt.Perspective"
            id="festivalnauke.rni.napravisvojsajt.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="festivalnauke.rni.napravisvojsajt.category"
            class="festivalnauke.rni.napravisvojsajt.views.SiteStructureView"
            id="festivalnauke.rni.napravisvojsajt.sitestructureview"
            name="Везе између страна">
      </view>
      <category
            id="festivalnauke.rni.napravisvojsajt.category"
            name="Festival Nauke">
      </category>
      <view
            category="festivalnauke.rni.napravisvojsajt.category"
            class="festivalnauke.rni.napravisvojsajt.views.PageViewPart"
            id="festivalnauke.rni.napravisvojsajt.pageview"
            name="Подаци на страни"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="festivalnauke.rni.napravisvojsajt.sitestructureview"
               minimized="false"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="festivalnauke.rni.napravisvojsajt.pageview"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="festivalnauke.rni.napravisvojsajt.sitestructureview"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="festivalnauke.rni.napravisvojsajt.toolbars.sampleToolbar">
            <command
                  commandId="festivalnauke.rni.napravisvojsajt.commands.createpage"
                  icon="icons/paper_content_32.png"
                  id="festivalnauke.rni.napravisvojsajt.toolbars.kreiranjestrane"
                  mode="FORCE_TEXT"
                  tooltip="Креирање нове стране">
            </command>
            <command
                  commandId="festivalnauke.rni.napravisvojsajt.commands.createimage"
                  icon="icons/image_add_32.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="festivalnauke.rni.napravisvojsajt.commands.delete"
                  icon="icons/cancel_32.png"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="festivalnauke.rni.napravisvojsajt.toolbar2">
            <dynamic
                  class="festivalnauke.rni.napravisvojsajt.contributions.LayoutSelection"
                  id="festivalnauke.rni.napravisvojsajt.dynamic1">
            </dynamic>
         </toolbar>
         <toolbar
               id="festivalnauke.rni.napravisvojsajt.toolbar3">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/Sign-Info-icon.png"
                  label="О програму"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/Exit.png"
                  label="Излазак из програма">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="festivalnauke.rni.napravisvojsajt.application"
            name="Napravi svoj sajt">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Napravi svoj sajt">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Програм за креирање једноставних сајтова на бази визуалног језика за спецификацију структуре сајта.&#x0A;Креирано за Фестивал науке.&#x0A;Мај, 2012.&#x0A;&#x0A;Аутор: др Игор Дејановић&#x0A;Одсек за примењене рачунарске науке и ифнорматику, Факултет техничких наука, Нови Сад">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="festivalnauke.rni.napravisvojsajt.handlers.CreatePageHandler"
            commandId="festivalnauke.rni.napravisvojsajt.commands.createpage">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="festivalnauke.rni.napravisvojsajt.model.Page">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="festivalnauke.rni.napravisvojsajt.handlers.CreatePictureHandler"
            commandId="festivalnauke.rni.napravisvojsajt.commands.createimage">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="festivalnauke.rni.napravisvojsajt.model.Page">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="festivalnauke.rni.napravisvojsajt.handlers.DeleteHandler"
            commandId="festivalnauke.rni.napravisvojsajt.commands.delete">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="festivalnauke.rni.napravisvojsajt.model.SiteElement">
               </instanceof>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="festivalnauke.rni.napravisvojsajt.commands.createpage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="festivalnauke.rni.napravisvojsajt.scheme"
            sequence="INSERT">
      </key>
      <key
            commandId="festivalnauke.rni.napravisvojsajt.commands.delete"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="festivalnauke.rni.napravisvojsajt.scheme"
            sequence="DEL">
      </key>
      <scheme
            id="festivalnauke.rni.napravisvojsajt.scheme"
            name="name">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="festivalnauke.rni.napravisvojsajt.commands.category"
            name="Festival Nauke">
      </category>
      <command
            categoryId="festivalnauke.rni.napravisvojsajt.commands.category"
            description="Креирање нове стране до које се стиже са стране која је тренутно изабрана."
            id="festivalnauke.rni.napravisvojsajt.commands.createpage"
            name="Нова страна">
      </command>
      <command
            categoryId="festivalnauke.rni.napravisvojsajt.commands.category"
            id="festivalnauke.rni.napravisvojsajt.commands.createimage"
            name="Убаци слику">
      </command>
      <command
            id="festivalnauke.rni.napravisvojsajt.commands.delete"
            name="Брисање">
      </command>
   </extension>

</plugin>
